@page
@model PremierLeague.WebApp.Pages.Account.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PremierLeagueAccount[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremierLeagueAccount[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremierLeagueAccount[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremierLeagueAccount[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PremierLeagueAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
